// GLOBAL MIXINS

@mixin section-title ($textclr, $bckclr) {
  margin: 0;
  padding: .25em;
  font-size: 150%;
  width: 100%;
  text-align: center;
  color: $textclr;
  background-color: $bckclr;
  font-weight: bold;
}

@mixin half($float){
  width: 50%;
  float: $float;
  @include media('<phone'){
    width: 100%
  }
}
