/* FOOTER */


footer {
  clear: both;
  margin: 0;

  height: 100px;
  line-height: 35px;
  padding-top: .5em;
  margin: 0;
  background-color: $teal;
  p{
    margin: 0;
    text-align: center;
  }
  div {
    text-align: center;
    font-size: 200%;

    a{
      padding: .5em;
      display: inline;
      color: $light-teal;
      &:hover {
        color: $dark;
      }
    }
  }
}
